/* COLOR PALETTE
 *
 * Primary Color:
 * - #CC0000 (Bright Red)
 *
 * Secondary Colors:
 * - #FFCCCC (Light Red)
 * - #990000 (Dark Red)
 * - #FFFF99 (Light Yellow)
 * - #333333 (Dark Gray)
 * - #F2F0EF (Off-White) 
 */

body {
	align-items: center;
	background-color: #990000;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div.container {
	background-color: transparent;
	display: flex;
	flex-wrap: wrap;
	height: 60rem;
	width: 60rem;
}

div.container div.square-row {
	background-color: #F2F0EF;
	display: flex;
	flex-direction: column;
	flex: 1;
}

div.container div.square-row div.square {
	border: 1px #333 solid;
	flex: 1;
}
